@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@font-face {
  font-family: "vazir";
  src: url("../../public/fonts/Vazir.woff2") format("woff2");
}

@font-face {
  font-family: "ubuntu";
  src: url("../../public/fonts/Ubuntu-R.woff2") format("woff2");
}

body {
  color: rgb(var(--foreground-rgb));
  user-select: none;
  background-color: blue;
}

.apply-fonts {
  font-family: ubuntu, vazir;
}


